/* src/styles/App.css */
.App {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

.card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.custom-input {
  border-color: #ced4da; /* Light grey border */
  
}
.custom-input:focus {
  border-color: #adb5bd; /* Darker grey when focused */
  
}